@import "tailwindcss";

:root {
  --color-black: #0f0f0f;        /* rich black */
  --color-dark: #1a1a1a;         /* soft black */
  --color-white: #ffffff;        /* pure white */
  --color-muted: #9ca3af;        /* lighter gray for text hints */
  
  --color-bg: var(--color-white);     /* background default */
  --color-surface: #f4f4f4;           /* very light gray surface */

  --color-text: var(--color-black);   /* default text */
  --color-heading: var(--color-black);
  --color-subtle: var(--color-muted);

  --font-head: --font-cormorant;
  /* Keep the rest like spacing, radius, z-index, transitions */
}


body {
  font-family: var(--font-jost);
  line-height: 1.7;
}

h1, h2, h3 {
  font-family: var(--font-cormorant), serif;
}


